.title {
  color: rgb(255, 192, 56);
  font-size: 32px;
}

.serch {
  margin-top:auto;
  float: right;
}

.line-blue {
  background-color: blue;
  height: 40px;
  margin: 10px;
}

.colum1 {
  width: 150px;
  margin:15px;
  float: left;
}

.firstb {
  margin: 10px;
  padding: 6px;
  width: 150px;
  border: solid 1px rgb(36, 35, 35);
}


.secondb {
  border:dotted 2px red;
  width: 150px;
  margin: 10px;
  padding: 5px;
}

.colum2 {
  width: 600px;
  margin:15px;
  float: left;
}

.imgato {
  float: left;
  margin: 15px;
  width: 150px;
  height: 150px;
}

.colum3 {
  float: left;
  width: 200px;
  margin:5px;
  border: solid 1px orange;
  padding: 5px;
}

.titleorange {
  padding: 10px;
  background-color: orange;
  margin-top: 0px;
  font-size: 20px;
}

.footer {
  padding: 10px;
  margin-top: 0;
  text-align: center;
  border: solid 1px rgba(216, 216, 216, 0.877);
  float: left;
  width: 90%;
  margin: 10px;
}

.f-left {
  float: left;
  margin: 4px;
}

.f-right {
  float: right;
}